# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Application_Symfony\ProjetStage2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
